.root{
  min-height: 90%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 30px;
  background-color: var(--light-gray-color)!important;
  z-index: 2;
  position: relative;
}

.card{
  width: 40%;
  min-width: 450px;
  max-width: 750px;
  margin: 27px auto;
  border-radius: 50px 0 50px 0!important;
  min-height: 300px;
  padding: 70px 70px 55px 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:1.3em;
}
.card>button{
  background-color: var(--primary-color) !important;
  width: 358px;
  height: 43px;
}
.pageTitle {
  text-align: center;
  margin: 70px auto!important;
  text-transform: uppercase;
  font-weight: 600!important;
}

.link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
  color: var(--color-primary-500);
}

